*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;

}

:root{

--color-primary-blue-10: #1090CB1a;
--color-primary-blue: #1090CB;
--color-secundary-white:#FFFFFF;
--color-neutra-black: #000000;
--color-neutra-gray: #5C5C5C;


--font-h1: 35px;
--font-h2: 30px;
--font-h3: 25px;
--font-h4: 18px;

--font-body: 16px;
--font-body2: 14px;

    --font-title: "Poppins", sans-serif;
    --font-body: "Poppins", sans-serif;
}